/* General */
.b-examples-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2rem;
    margin: 0 0 6rem 0;
}
.b-examples-grid > * {
    border-radius: 1rem;
}


/* Repositories */
.b-examples-grid > .example-repositories {
    color: #57606a;
    border: 0.1rem solid #d0d7de;
    background-color: #FFFFFF;
}
.b-examples-grid > .example-repositories > .row {
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem 2rem;
    border-bottom: 0.1rem solid #d0d7de;
}
.b-examples-grid > .example-repositories > .row:last-child {
    border-bottom: none;
}
.b-examples-grid > .example-repositories > .row > .chart {
    --tooltip-background: var(--shape-color);
    flex: 0 0 auto;
    width: 20rem;
    height: 3rem;
    margin: 2rem auto 0 auto;
}
.b-examples-grid > .example-repositories > .row > .text {
    flex: 1 1 auto;
}
.b-examples-grid > .example-repositories > .row > .text > .title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #43484e;
}
.b-examples-grid > .example-repositories > .row > .text > .details {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.b-examples-grid > .example-repositories > .row > .text > .details > li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    white-space: nowrap;
    margin: 0.6rem 2rem 0 0;
    font-size: 1.4rem;
    color: #5d6672;
}
.b-examples-grid > .example-repositories > .row > .text > .details > li > img {
    height: 1.6rem;
    margin: 0 0.25em 0 0;
    filter: invert(37%) sepia(11%) saturate(529%) hue-rotate(175deg) brightness(101%) contrast(88%);
}
@media (min-width: 660px) {
    .b-examples-grid > .example-repositories {
        grid-column: span 2;
    }
    .b-examples-grid > .example-repositories > .row {
        flex-direction: row;
        align-items: center;
    }
    .b-examples-grid > .example-repositories > .row > .chart {
        margin: 0 0 0 2rem;
    }
}


/* Visitors */
.b-examples-grid > .example-visitors {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    color: #FFFFFF;
    background-color: #7346d3;
}
.b-examples-grid > .example-visitors > .title {
    position: relative;
    line-height: 1;
    margin: 2rem 2rem 1rem 2rem;
}
.b-examples-grid > .example-visitors > .title .count {
    font-size: 2.4rem;
    font-weight: bold;
}
.b-examples-grid > .example-visitors > .title .text {
    font-size: 1.4rem;
    opacity: 0.75;
    margin: 0.3rem 0 0 0;
}
.b-examples-grid > .example-visitors > .title .icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 4rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(250deg) brightness(107%) contrast(101%);
    opacity: 0.5;
}
.b-examples-grid > .example-visitors > .chart {
    --shape-color: #FFFFFF;
    --area-opacity: 0.15;
    --point-opacity: 1;
    --point-opacity-active: 0.5;
    --point-inner-color: transparent;
    --tooltip-font-color: #7346d3;
    --tooltip-background: #FFFFFF;
    --tooltip-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    height: 10rem;
}


/* Orders */
.b-examples-grid > .example-orders {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    color: #FFFFFF;
    background-image: linear-gradient(90deg, #165CE9, #0376EE);
}
.b-examples-grid > .example-orders > .title {
    text-align: center;
    line-height: 1;
    padding: 2rem 2rem 1rem 2rem;
}
.b-examples-grid > .example-orders > .title .count {
    font-size: 2.4rem;
    font-weight: bold;
}
.b-examples-grid > .example-orders > .title .text {
    font-size: 1.4rem;
    opacity: 0.75;
    margin: 0.3rem 0 0 0;
}
.b-examples-grid > .example-orders > .chart {
    --shape-color: #FFFFFF;
    --shape-opacity: 0.35;
    --shape-opacity-active: 0.7;
    --tooltip-font-color: #FFFFFF;
    --tooltip-background: #333333;
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    height: 10rem;
}


/* Sources */
.b-examples-grid > .example-sources {
    --shape-color-1: #A838FF;
    --shape-color-2: #19D6BF;
    --shape-color-3: #3C37FF;
    --shape-color-4: #FFBD3C;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #1C1E27;
    background-image: linear-gradient(#383941 0.1rem, transparent 0.1rem),
                      linear-gradient(90deg, #383941 0.1rem, transparent 0.1rem);
    background-size: 2rem 2rem;
}
.b-examples-grid > .example-sources > .chart {
    position: relative;
    width: 12rem;
    height: 12rem;
}
.b-examples-grid > .example-sources > .chart > .pie {
    --shape-opacity-active: 0.6;
    --tooltip-font-color: #1C1E27;
    --tooltip-background: #D8D7DA;
    width: 100%;
    height: 100%;
}
.b-examples-grid > .example-sources > .chart > .title {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
}
.b-examples-grid > .example-sources > .chart > .title > span {
    font-size: 1.5rem;
    color: #D8D7DA;
}
.b-examples-grid > .example-sources > .chart > .title > b {
    color: #FFFFFF;
    font-size: 1.8rem;
    margin: 0.2rem 0;
}
.b-examples-grid > .example-sources > .legend {
    color: #FFFFFF;
    margin: 0 0 0 2rem;
    padding: 0;
}
.b-examples-grid > .example-sources > .legend > li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    list-style: none;
    margin: 0.4rem 0;
}
.b-examples-grid > .example-sources > .legend > li::before {
    content: '';
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.2rem;
    margin: 0 0.8rem 0 0;
    background-color: black;
}
.b-examples-grid > .example-sources > .legend > li:nth-child(1):before { background-color: var(--shape-color-1); }
.b-examples-grid > .example-sources > .legend > li:nth-child(2):before { background-color: var(--shape-color-2); }
.b-examples-grid > .example-sources > .legend > li:nth-child(3):before { background-color: var(--shape-color-3); }
.b-examples-grid > .example-sources > .legend > li:nth-child(4):before { background-color: var(--shape-color-4); }


/* Viewers */
.b-examples-grid > .example-viewers {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-image:
        radial-gradient(rgba(255, 255, 255, 0.1) 0.2rem, transparent 0.21rem),
        radial-gradient(rgba(255, 255, 255, 0.1) 0.2rem, transparent 0.21rem),
        linear-gradient(90deg, #3b3c41, #1E2128);
    background-position: top left, 1rem 1rem;
    background-size: 2rem 2rem, 2rem 2rem, 100% 100%;

}
.b-examples-grid > .example-viewers > .title {
    flex: 0 0 auto;
    position: relative;
    z-index: 1;
    margin: 3rem 3rem 2rem 3rem;
    color: #FFFFFF;
    white-space: nowrap;
}
.b-examples-grid > .example-viewers > .title > .text {
    font-size: 1.8rem;
    line-height: 1;
    font-weight: bold;
}
.b-examples-grid > .example-viewers > .title > .count {
    font-size: 1.8rem;
    opacity: 0.9;
    margin: 0.3rem 0 0 0;
}
.b-examples-grid > .example-viewers > .title > .count::before,
.b-examples-grid > .example-viewers > .title > .count::after {
    content: ' - ';
    display: inline-block;
}
.b-examples-grid > .example-viewers > .chart {
    --shape-color: #FFFFFF;
    --area-color: #00acd2;
    --area-opacity: 1;
    --tooltip-font-color: #1E2128;
    --tooltip-background: var(--shape-color);
    flex: 0 1 auto;
    width: 100%;
    height: 7rem;
    border-radius: 0 0 1rem 1rem;
}

/* Health */
.b-examples-grid > .example-health {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    border: 0.1rem solid #dce1e5;
    background-color: #FFFFFF;
}
.b-examples-grid > .example-health > .item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 1rem;
}
.b-examples-grid > .example-health > .item > .chart {
    position: relative;
    width: 5.6rem;
    height: 5.6rem;
}
.b-examples-grid > .example-health > .item > .chart > tc-pie {
    --shape-color: #51A7E1;
    --residual-opacity: 0.1;
    width: 100%;
    height: 100%;
}
.b-examples-grid > .example-health > .item:nth-child(1) > .chart > tc-pie { --shape-color: #F17A33; }
.b-examples-grid > .example-health > .item:nth-child(2) > .chart > tc-pie { --shape-color: #2DCD71; }
.b-examples-grid > .example-health > .item:nth-child(3) > .chart > tc-pie { --shape-color: #7346D2; }
.b-examples-grid > .example-health > .item:nth-child(4) > .chart > tc-pie { --shape-color: #51A7E1; }
.b-examples-grid > .example-health > .item > .chart > img {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
}
.b-examples-grid > .example-health > .item:nth-child(1) > .chart > img { filter: invert(64%) sepia(54%) saturate(3662%) hue-rotate(340deg) brightness(99%) contrast(91%); }
.b-examples-grid > .example-health > .item:nth-child(2) > .chart > img { filter: invert(61%) sepia(12%) saturate(2268%) hue-rotate(92deg) brightness(105%) contrast(94%); }
.b-examples-grid > .example-health > .item:nth-child(3) > .chart > img { filter: invert(33%) sepia(100%) saturate(852%) hue-rotate(231deg) brightness(83%) contrast(102%); }
.b-examples-grid > .example-health > .item:nth-child(4) > .chart > img { filter: invert(70%) sepia(12%) saturate(7217%) hue-rotate(177deg) brightness(95%) contrast(85%); }
.b-examples-grid > .example-health > .item > .text {
    margin: 0 0 0 1rem;
    line-height: 1.1;
}


/* Users */
.b-examples-grid > .example-users {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 2rem 3rem;
    border: 0.1rem solid #dce1e5;
    background-color: #FFFFFF;
}
.b-examples-grid > .example-users > .item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    margin: 0 0 1.2rem 0;
}
.b-examples-grid > .example-users > .item:last-child {
    margin-bottom: 0;
}
.b-examples-grid > .example-users > .item > img {
    flex: 0 0 auto;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0 1rem 0 0;
}
.b-examples-grid > .example-users > .item > .chart {
    flex: 1 1 auto;
}
.b-examples-grid > .example-users > .item > .chart > div {
    font-size: 1.4rem;
}
.b-examples-grid > .example-users > .item > .chart > tc-stack {
    --residual-color: #000000;
    --residual-opacity: 0.06;
    display: block;
    height: 1.2rem;
    width: 100%;
}

/* Languages */
.b-examples-grid > .example-languages {
    --shape-color-1: #36a2eb;
    --shape-color-2: #ff9f40;
    --shape-color-3: #ff6384;
    --shape-color-4: #4bc061;
    --shape-color-5: #ffcd56;
    --shape-color-6: #926BFA;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    padding: 2rem 3rem;
    border: 0.1rem solid #dce1e5;
    background-color: #FFFFFF;
}
.b-examples-grid > .example-languages > .title {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: bold;
    margin: 0 0 1rem 0;
}
.b-examples-grid > .example-languages > .chart {
    display: block;
    width: 100%;
    height: 1.6rem;
}
.b-examples-grid > .example-languages > .legend {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.2rem 0 0 0;
    padding: 0;
}
.b-examples-grid > .example-languages > .legend > li {
    flex: 0 0 auto;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    list-style: none;
    font-size: 13px;
    line-height: 1;
    font-weight: bold;
    color: #666666;
    margin: 0.4rem 0.4rem 0 0.4rem;
}
.b-examples-grid > .example-languages > .legend > li::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    margin: 0 0.4rem 0 0;
    background-color: black;
}
.b-examples-grid > .example-languages > .legend > li:nth-child(1):before { background-color: var(--shape-color-1); }
.b-examples-grid > .example-languages > .legend > li:nth-child(2):before { background-color: var(--shape-color-2); }
.b-examples-grid > .example-languages > .legend > li:nth-child(3):before { background-color: var(--shape-color-3); }
.b-examples-grid > .example-languages > .legend > li:nth-child(4):before { background-color: var(--shape-color-4); }
.b-examples-grid > .example-languages > .legend > li:nth-child(5):before { background-color: var(--shape-color-5); }
.b-examples-grid > .example-languages > .legend > li:nth-child(6):before { background-color: var(--shape-color-6); }


/* Balance */
.b-examples-grid > .example-balance {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 3rem 3rem 2rem 3rem;
    border: 0.1rem solid #dce1e5;
    background-color: #FFFFFF;
}
.b-examples-grid > .example-balance > * {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
}
.b-examples-grid > .example-balance > .charts {
    position: relative;
    z-index: 2;
    border-top: 0.1rem dashed #CCCCCC;
    border-bottom: 0.1rem solid #BBBBBB;
}
.b-examples-grid > .example-balance > .charts::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 33.333%;
    left: 0;
    right: 0;
    height: 33.333%;
    border-top: 0.1rem dashed #CCCCCC;
    border-bottom: 0.1rem dashed #CCCCCC;
}
.b-examples-grid > .example-balance > .charts > tc-bar {
    --shape-color-1: #926BFA;
    --shape-color-2: #2BBF7D;
    flex: 0 1 auto;
    display: block;
    width: 2.2rem;
    height: 10rem;
    margin: 0 auto;
}
.b-examples-grid > .example-balance > .days {
    font-size: 11px;
    line-height: 1;
    color: #666666;
    text-align: center;
    padding: 0.4rem 0 0 0;
}
.b-examples-grid > .example-balance > .days > div {
    flex: 1 1 auto;
}


/* Compare */
.b-examples-grid > .example-compare {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    border: 0.1rem solid #dce1e5;
    background-color: #FFFFFF;
}
.b-examples-grid > .example-compare > .title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    line-height: 1;
    margin: 2rem 2rem 1.2rem 2rem;
}
.b-examples-grid > .example-compare > .title > span.old,
.b-examples-grid > .example-compare > .title > span.new {
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
}
.b-examples-grid > .example-compare > .title > span.old { background-color: #FA7317; }
.b-examples-grid > .example-compare > .title > span.new { background-color: #0091FF; }
.b-examples-grid > .example-compare > .charts {
    position: relative;
    z-index: 1;
    height: 10rem;
    margin: auto -0.1rem -0.1rem -0.1rem;
}
.b-examples-grid > .example-compare > .charts > tc-line {
    --shape-color: #FFFFFF;
    --area-opacity: 0.8;
    --point-inner-color: var(--area-color);
    --point-border-color: var(--shape-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 0.9rem 0.9rem;
}
.b-examples-grid > .example-compare > .charts > tc-line.old {
    --area-color: #FA7317;
    z-index: 1;
}
.b-examples-grid > .example-compare > .charts > tc-line.new {
    --area-color: #0091FF;
    z-index: 2;
}
.b-examples-grid > .example-compare > .charts > .scale {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    pointer-events: none;
}
.b-examples-grid > .example-compare > .charts > .scale > span {
    flex: 0 0 auto;
    width: 0.3rem;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 65%, transparent 65%, transparent 100%);
    background-position: bottom center;
    background-size: 0.1rem 1.2rem;
    background-repeat: repeat-y;
}
.b-examples-grid > .example-compare > .charts > .scale > span:first-child,
.b-examples-grid > .example-compare > .charts > .scale > span:last-child {
    opacity: 0;
}


/* Overlap */
.b-examples-grid > .example-overlap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 2.5rem;
    border: 0.1rem solid #dce1e5;
    background-color: #FFFFFF;
}
.b-examples-grid > .example-overlap > .charts {
    position: relative;
    z-index: 1;
    height: 100%;
    min-height: 10rem;
}
.b-examples-grid > .example-overlap > .charts > tc-bar {
    --shape-color: #d7e0e6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.b-examples-grid > .example-overlap > .charts > tc-line {
    --shape-color: #2193b0;
    --point-opacity: 1;
    --point-inner-color: #FFFFFF;
    --tooltip-font-color: #FFFFFF;
    --tooltip-background: var(--shape-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 calc((100% / 8 / 2) - (5px + 8px));
}
